* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgba(250, 171, 246, 0.945);
}



.header {
    background-color: rgba(253, 133, 247, 0.945);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(18, 194, 248);
}

.links {
    list-style-type: none;
    font-size: 24px;
}

.links li  {
    display: inline;
    margin-left: auto;
    display: inline-block;
    padding: 10px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links li a { 
    text-decoration: rgb(6, 160, 160);
    color: rgb(23, 231, 231);

}

.links li a:hover {
    text-decoration: rgb(6, 160, 160);
    color: rgb(18, 194, 248);
    
}

.introduction {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 0;
    text-align: center;
    color: rgb(255, 224, 253);
}



.about-me {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(250, 171, 246, 0.945);
  }

.card {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}

  .card header {
    padding: 15px;
  }

  .card p {
    text-align: center;
    margin: 5px;

  }

  .card img {
    width: 100%;
  }

  .card {
    background-color: rgb(18, 194, 248);;
    text-align: center;
    flex-wrap: wrap;
  }


@media screen and (max-width: 1280px) {
    main,
    nav {
      flex-direction: column;
    }
  }